img.main {
	width: 100%;
	height: auto;
	border: 10px solid transparent;
    padding: 15px;

}

img {
	width: 100%;
	height: auto;
	border: 10px solid transparent;
    padding: 15px;

}
h1 {
    text-align: center;
}
div #sub {
	border: 1px solid #ffffff;
	padding: 1px;
	text-align: center;
	background-color: #0056b0;
	font-
}
h4 {
	color: #ffffff
}
p {
	color: #ffffff
}